<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= select f, :freeagent_contact_id, @contacts %>
    <%= link "update", to: "/freeagent/sync_contacts" %>
  </div>

  <div class="form-group">
    <%= label f, :reference, class: "control-label" %>
    <%= text_input f, :reference, class: "form-control" %>
    <%= error_tag f, :reference %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, class: "form-control", rows: 5 %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= submit "Submit"%>
  </div>
<% end %>
